* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body {
    min-height: 200vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../img/cyberpunk.gif);
}


/*index part1*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky{
	padding: 5px 100px;
	background:#453A94;
	opacity: 0.5;
	/*导航栏透明度*/
}

header .logo{
	position: relative;
	font-weight: 700;
	color: yellow;
	text-decoration: none;
	font-size: 2em;
	font-family: ;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	position: relative;
	list-style: none;
}

header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color:#ffffff;
	letter-spacing: 2px;
	font-weight: 500px;
	transition:0.6s;
}

header ul li a:hover{
	color:red;
	font-size: 25px;
	background-color: gold;
	border-radius: 30%;
}

section h1{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
}



#go{
	bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gold;
	position: absolute;
	font-size: 20px;
	font-family: 'Hanalei Fill', cursive;
}
div a{
	color:gold;
	font-size: 20px;
	text-decoration: none;
}
div a:hover{
	color:red;
	font-size: 30px;
	background-color: gold;
	border-radius: 10%;
	transition:0.6s;
	
}

.banner{
	position: relative;
	width: 100%;
	height: 100vh;
	/*background: url(../img/cyberpunk.gif);
	background-size: cover;*/
}

.banner h1 {
	text-align: center;
	font-size: 40px;
	font-family: 'Hanalei Fill', cursive;
	font-size: 50px;
}