 
 /*part2百叶窗效果*/
 
 
 .container {
	height: 600px;
	width: 1100px;
	margin: 150px auto;
}
 
 
 li {
     list-style: none;
 }
 .baiyechuang {
     width: 1000px;
     height: 405px;
     margin: 200px auto;
     overflow: hidden;
     transition: all .3s;
 }
 .baiyechuang li {
     float: left;
     position: relative;
     width: 200px;
     height: 405px;
     transition: all .3s;
 }
 .baiyechuang li .timu {
     position: absolute;
     left: 0;
     bottom: 0;
     font-size: 16px;
     /*color: #fff;*/
     color:deepskyblue;
     width: 100%;
     height: 35px;
     text-align: center;
     line-height: 30px;
     background-color: rgba(0,0,0,.3);
 }
 .baiyechuang li .neirong {
     position: relative;
     left: 0;
     bottom: 100%;
     font-size: 16px;
     display: cover;
     color: #fff;
     width: 100%;
     height: 100%;
     transform: translateY(400px);
     text-align: left ;
     padding-left: 40px;
     padding-top: 30px;
     line-height: 30px;
     background-color: rgba(0,0,0,0);
     /*rgba a:alph值透明度*/
 }
 
 .baiyechuang li:hover .neirong {
    transform: translateY(0px);
    transition-delay: 0.7px;
 }
 
 
 
 .baiyechuang:hover li {
     width: 64px;
 }
 .baiyechuang li:hover {
     width: 640px;
 }
 hr{
 	width: 500px;
 	height:1px;
 	margin-top: 5px;
 	margin-bottom: 5px;
 }
 .space{
 	width: 100px;
 	height: 50px;
 	border-top:3px dashed;
 	border-bottom:3px dashed;
 	border-left:3px dashed;
 	border-right:3px dashed;
 	color:deepskyblue;
 	margin: 5%;
 	padding: 5px;
 }
 .space a:link,a:visited{
 	font-size: 21px;
 	text-decoration: none;
 }
 .neirong h2{
 	color: gold;
 	margin-bottom: 10px;
 	margin-top: 10px;
 }
