*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(125deg,#2c3e50,#27ae60,#2980b9,#e74c3c,#8e44ad);
    background-size: 400%;
    animation: bganimation 15s infinite;
    overflow-x: hidden;
}
@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.label-img{
    width:26px;
    height:26px;
}
.label-img2{
    width:32px;
    height:32px;
}

/*--------------nav----------------*/

.n-line{
    position: absolute;
    top: 28px;
    width: 0px;
    border-bottom: 4px salmon solid;
    transition: .3s ease-in-out;
}
.logo{
    color: whitesmoke;
}
.nav_1{
    display: flex;
    align-items: center;
}
.nav_1 li img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.nav_1 li{
    margin-left: 17px;
    display: flex;
    position: relative;
}
.nav_1 li a{
    color: whitesmoke;
    cursor: pointer;
}
.menu{
    display: none;
}
.mark{

    width: 100%;
    height: 60px;
    background-color: rgb(58, 58, 58);
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 1;
    position: fixed;
}

/*header section*/
section{
    width: 80%;
    height: 100%;
    margin: 120px auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow:20px 20px 50px rgba(0,0,0,.3);
    border-radius: 10px;
}
.Up{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}
.Down{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card{
    background-color: white;
    border-radius: 10px;
}
.Me{
    width: 20%;
    
}
.recommend{
    width: 50%;
    
    margin-left: 15px;
}
.play{
    width: 30%;
    
    margin-left: 15px;
}
.m_content{
    width: 70%;
    
}
.m_img_bg{
    width: 29.5%;
    
    margin-left: 15px;
}
/*Me*/
.Me{
    padding: 15px;
}
.title{
    width: 50%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
}
.name{
    text-align: center;
    margin: 15px 0;
}
.title img{
    width: 100%;
}
.classify{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 15px;
}
.qqmusic{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #33ffa6;
    padding: 8px 10px;
    color: rgb(255, 253, 253);
    margin-bottom: 15px;
}
.qqmusic a{
    color: rgb(255, 253, 253);
    font-weight: 450;
}
.icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 15px;
}
.mode{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 47px;
    margin: 0 auto;
    background: #535353;
    background-image: 
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    cursor: pointer;
}
.mode-night{
    background: #535353;
}

.mode-sun{ 
    background: #fdfcfc;
    background-image: url(../img/music/鏃ラ棿妯″紡.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}
.mode img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.night{
    background: #535353;
    color: whitesmoke;
}
.sun{
    background: white;
    color: #000;
}
/*recommend*/
.recommend{
    padding: 15px;
}
.line{
    width: 30%;
    border-bottom: 3px solid rgb(32, 32, 32);
    margin-bottom: 15px;
}
.recommend .r-1{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-around;
}
.m-1{
    width: 50%;
    overflow: hidden;
    border-radius: 10px;
}

.m-1 iframe{
    width: 100%;
    transition: .5s;
    display: block;
    border-radius: 10px;
    cursor: pointer;
}


.m-2{
    width: 40%;
    overflow: hidden;
    border-radius: 10px;
    background: violet;
}
.m-2 iframe{
    width: 100%;
    transition: .5s;
    display: block;
    cursor: pointer;
}
/* .m-1:hover img{
    transform: scale(1.1);
}

.m-2:hover img{
    transform: scale(1.1);
} */
/*play*/
.play{
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.p-pen{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 30px;
    position: relative;
}
.p-pen img{
    width: 100%;
}
.play .img_rotate{
    animation: img_rotate 2s infinite linear;
}
.tool{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    margin: 0 auto;
    padding: 10px 0px;
    box-shadow:10px 10px 50px rgba(0,0,0,.3);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;

}
.rotate img{
    width: 100%;
}
.prev{
    width: 32px;
    height: 32px;
    background-image: ;
    background-size: cover;
    cursor: pointer;
}
.t-play{
    width: 32px;
    height: 32px;
    background-image: ;
    background-size: cover;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}
.next{
    width: 32px;
    height: 32px;
    background-image:;
    background-size: cover;
    cursor: pointer;
}
.rotate{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #33ffa6;
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    overflow: hidden;
}

/*Down m_content*/
.m_content{
    padding: 15px;
}
.m_content h1{
    text-align: center;
}
.m_list li:hover{
    background-color: rgb(54, 54, 54);
    cursor: pointer;
    color: white;
}
.m_list_night li:hover{
    background: whitesmoke;
    cursor: pointer;
    color: rgb(54, 54, 54);
}
.m_list .col{
    display: flex;
}
.col .m_img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.col .m_img img{
    width: 100%;
}

.m_text{
    
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}
.m_text .m_name{
    font-size: 16px;
}
.m_text_down{
    display: flex;
    align-items: center;
}
.m_text_down p{
    font-size: 12px;
}
.line_list{
    width: 60%;
    border-bottom: 1px solid gray;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    opacity: 0.7;
}

.m_img_bg {
    background-image: url(../img/music/m_bg.png);
    background-position: top;
    background-size: cover;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}
.m_img_bg h1{
    background-image:-webkit-linear-gradient(bottom,#be93c5,#7bc6cc);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    opacity: 0.7;
}

/*--------------footer-----------------*/
footer {
    width: 100vw;
    height: 30vh;
    background-color: rgba(255, 255, 255, 0.1);/*!!!!*/
    box-shadow:20px 20px 50px rgba(0,0,0,.5);
    position: relative;
    margin-top: 50px;
    z-index: 0;

}
.mark-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mark-2 p{
    color: white;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    z-index: 10;
}


/*-----------media-------------*/
@media screen and (max-width:1200px){
    section{
        width: 90%;

    }
}

@media screen and (max-width:1050px){
    nav{
        padding: 0 40px;
    }
    .n-line{
        display: none;
    }
    .nav_1{
        position: absolute;
        top: 60px;
        right: 0;
        bottom: 0;
        width: 50vw;
        height: calc(100vh - 60px);
        background-color: rgb(58, 58, 58);
        flex-direction: column;
        z-index: 1;
        transform: translateX(100%);
		transition: 0.4s ease-in-out;
    }
    .open{
        transform: translateX(0);
    }
    .nav_1 li{
        margin: 3vh;
        transform: translateX(20px);
        opacity: 0;/
    }
    .menu{
        display: block;
    }

    /*section Up*/
    section{
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
    }
    .Up{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 90%;
        margin-bottom: 15px;
        
    }
    .Me{

        
    }
    .recommend{
        margin-left: 0px;
    }
    .play{ 
        margin-left: 0px;
    }

    /*Down*/
    .Down{
        flex-direction: column;
        align-items: center;
    }
    .m_img_bg{
        display: none;
    }
    .m_text{
        width: 50%;
    }
    @keyframes slideIn {
        form{
            transform: translateX(20px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }
}

@keyframes img_rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}